@font-face {
    font-family: 'Jeju Myeongjo';
    src: url('JejuMyeongjo-Regular.woff2') format('woff2'),
         url('JejuMyeongjo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 