/* body {
    margin: 0;
    padding: 0;
    font-family: 'Jeju Myeongjo', serif;
    background-color: #F3353C;
    color: yellow;
    font-size: 5em;
} */

body {
    font-family: 'Jeju Myeongjo', serif;
    background: url('/pages/arin/assets/banner_bg.png') repeat;
    background-size: auto;
}

@font-face {
    font-family: 'chinese-script';
    src: url('assets/bodang-xingkai.ttf') format('truetype');
}

.windowCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(32, 0, 0); */
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 0.3em;
    padding-top: 1rem;
}


.banner-img {
    display: block;
    height: auto;
    z-index: -1;
}

.windowBody {
position: relative;
width: 100%;
min-height: 100vh;
padding: 20px;
box-sizing: border-box;
z-index: 1;
}

#storyText {
margin: 0;
line-height: 1.5;
text-align: center;
font-family: 'chinese-script';
font-size: 7rem;
/* color: #fdff6f; */
} 

small {
margin-top: 2rem;
font-size: 0.9rem;
/* color: white; */
}


/*  -----------------------------------------------------------------------------  */

.imageContainer img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
}

.textContainer h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.textContainer p {
    margin: 0;
    font-size: 16px;
}

.middleWindow {
    background-color: #fff0f0;
}